* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}


body {
    background-color: #F6C29F
}

header {

    background-color: #310303;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 87%, 0 100%);
    position: relative;

}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #310303;
    font-family: 'Poppins', sans-serif;
    padding: 0.8rem 0;
    position: sticky;
}



.logo img {
    width: 18rem;
}


.nav-links {
    display: flex;
    justify-content: space-around;
    width: 20%;
}

.nav-links li {

    list-style: none;
    padding-left: 0.3rem;
    padding-right: 0.3rem;

}

.nav-links li :hover {
    background-color: #fef102;
    color: #310303;
}

.nav-links a {
    color: rgb(198, 195, 195);
    text-decoration: none;
    letter-spacing: 0.01rem;
    font-weight: bold;
    font-size: 1.1rem;
    padding-left: none;
    padding-right: 1rem;
}



.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(198, 195, 195);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1024px) {
    .nav-links {
        width: 60%;
    }

    body {
        overflow-x: hidden;
    }
    
    header {
        overflow-x: hidden;
        overflow-y: hidden;
    }

}


@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }

    header {
        overflow-x: hidden;
        overflow-y: hidden;
    }
    section.about{
        overflow-x: hidden;
    }

    .contact {
        overflow-x: hidden;
    }

    section.product{
        overflow-x: hidden;
    }


    .nav-links {
        position: absolute;
        right: 0px;
        top: 2vh;
        background-color: #310303;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10vh;
        width: 50%;
        height: 50vh;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;

    }

    .nav-links li {
        opacity: 0;

    }

    .burger {
        display: block;
        padding-bottom: 5rem;
        padding-top: 3rem;
    }
}

.nav-active {
    transform: translateX(0%)
}

@keyframes navLinkFade {
    from {
        opacity: 1;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    align-items: center;
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    align-items: center;
    opacity: 0;
}

.toggle .line3 {
    align-items: center;
    transform: rotate(45deg) translate(-5px, -6px);
}

.deedav {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 8vh;
    background-color: #310303;
    font-family: 'Poppins', sans-serif;
    padding-top: 2rem;

}

.deedav img {
    width: 70%;
}

.evtric {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 8vh;
    background-color: #310303;
    font-family: 'Poppins', sans-serif;
    padding-top: 2rem;
    padding-bottom: 8rem;

}

.evtric img {

    width: 70%;
}


section.about {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    background-color: #F6C29F;
    padding-left: 5rem;
    padding-right: 5rem;
}

section.about h1 {
    text-align: center;
    color: #310303;
    padding-bottom: 3rem;
}

section.about p {
    line-height: 1.9;
    color: black;
}

.shop_photo {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 8vh;
    padding-top: 2rem;
}

.shop_photo img {
   width: 150%;
}


.product {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
    background-color: #310303;
    
}

section.product h1 {
    text-align: center;
    color: #F6C29F;
    padding-bottom: 3rem;
}

section.product h3 {
    text-align: left;
    color: #F6C29F;
    padding-bottom: 3rem;
    padding-top: 2rem;
    text-decoration: underline;
}
.deeimg1 img{
    width: 100%;
}
.deeimg2 img{
    width: 100%;
}
.deeimg3 img{
    width: 100%;
}
.deeimg4 img{
    width: 100%;
    height: 80%;
}








.card-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 6rem;
}

.contact {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    padding-left: 5rem;
    padding-right: 5rem;
    
}


.contact h1{
    text-align: center;
    color: #310303;
    padding-bottom: 4rem;
    
}

.contact h2{

    text-align: center;
    padding-bottom: 1rem;
    
}

.contact h6{

    text-align: center;
    padding-bottom: 1rem;
    
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;
  }
